section{
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    position: relative;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
}

#yellow{
    background-color: #efd592;
}

#purple{
    background-color: #4343f9;
}