body{
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);

    height: 100vh;
    width: 100%;
    max-width: 1200px;
}

#yellow{
    background-color: #efd592;
}

#purple{
    background-color: #4343f9;
}

.circle-btn{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 200px;

    background-color: #242d38;
    border-radius: 50%;

    text-transform: uppercase;

    color: #efd592;
    font-size: 24px;
    letter-spacing: 0.2em;
    font-weight: 300;
}

.rectangle-btn{
    position: absolute;
    bottom:40px;
    right:0;

    width: 200px;
    height: 60px;
}

.button1{
    border: solid 6px #242d38;
    right:40px;

    width: 200px;
    height: 60px;

    text-transform: uppercase;

    color: #242d38;
    font-size: 21px;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.button3{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    display: inline;

    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    background-color: #4343f9;

    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
}